* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: url('./assets/Wood-bkg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: hsl(0, 0%, 0%);
}


.navbar-bkgd img { 
  margin-left: 1vh;
}

.navbar-link { 
  color: hsl(0, 3%, 13%);
  font-weight: bold;
  margin: 2vh;
}





.nav-style {
  display: flex;
  flex-direction: column;
}

.nav-style img {
  max-height: 20vh;
}


/* Hours Component Styling */

.hours-comp {
  margin: 1vh;
}

.hours-comp h2 {
  padding: 1vh;
  background: hsl(0, 14%, 85%);
  border: 2px solid hsl(0, 3%, 13%);
  opacity: 0.9;
}

.hours-tab-color {
  background: hsl(0, 14%, 85%);
  border: 2px solid hsl(0, 3%, 13%);
  opacity: 0.9;
}

