* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body { 
  background: url('./assets/saddle-shop-bkgd.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: hsl(0, 0%, 0%);
}

/* Navigation Bar Stylings */

.navbar-bkgd img { 
  margin-left: 1vh;
}

.navbar-link { 
  color:hsl(0, 0%, 0%);
  font-weight: bold;
  margin: 2vh;
}


.nav-toggle { 
  background-color: hsl(0, 1%, 39%);
  margin-right: 1vh;
  margin-left: 1vh;
}


.nav-style {
  display: flex;
  flex-direction: column;
}

.nav-bkg-img {
  background-color: hsla(0, 0%, 79%, 0.493);
  
 
}

.nav-style img {
  max-height: 30vh;
}
/* 
Media Query for the Logo:  */

@media screen and (max-width: 991px) {
  .nav-style img {
    max-height: 20vh;
  }
}


.nav-lnk-txt {
  font-weight: bold;
  color:hsl(0, 0%, 0%);
}

.nav-lnk-txt:hover {
  
 opacity: 0.5;


}





/* Hours Component Styling */

.hours-comp {
  margin: 1vh;
 
}

.hours-comp h2 {
  padding: 1vh;
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 3%, 13%);
 
  font-weight: bold;
}

.hours-tab-color {
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 3%, 13%);
  
  
}

.hours-tab-font {
font-weight: bold;

}

/* Contact Form Stylings  */

.contact-form {
 margin: 1vh;
}